<%= if @current_user do %>
  <%= render("_header.html", current_user: @current_user) %>
<% end %>

<.alert type="info" message={live_flash(@flash, :info)} class="mx-4 my-4 max-w-7xl xl:mx-auto" />
<.alert type="error" message={live_flash(@flash, :error)} class="mx-4 my-4 max-w-7xl xl:mx-auto" />

<%= @inner_content %>
